header {
    .top-header {
        background-color: $tertiary-color;

        .social-media {
            li {
                height: 30px;
                width: 30px;
                background-color: white;
                border-radius: 50%;
                color: $primary-color;
                @include flex-center;
            }
        }
    }

    .navigation-bar {
        background-color: $primary-color;
        position: relative;
        .navbar-brand{
            border: 5px solid $secondary-color;
            position: absolute;
            top: -60px;
        }
        .navbar-nav{
            .nav-item{
                .nav-link{
                    color: white;
                    padding-block: 20px;
                    &:hover{
                        background-color: $secondary-color !important;
                    }
                }
            }
        }
    }
}